# In this Repository We will Cover:

1. PySpark Dataframe
2. Reading The Dataset
3. Checking the Datatypes of the Column(Schema)
4. Selecting Columns And Indexing
5. Check Describe option similar to Pandas
6. Adding Columns
7. Dropping columns
8. Renaming Columns

In [86]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\hp\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in c:\users\hp\anaconda3\lib\site-packages (from pyspark) (0.10.9.3)

In [ ]:
import pyspark

In [2]:
import pandas as pd

In [27]:
pd1 = pd.read_csv("test1.csv")
pd1

    Name   Age
0  Deepak   28
1     Ram   32
2   Shyam   33

In [28]:
type(pd1)

pandas.core.frame.DataFrame

In [4]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('practise').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('test1.csv')

In [12]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [13]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
| Name |Age|
|Deepak| 28|
|   Ram| 32|
| Shyam| 33|
+------+---+

In [14]:
spark.read.option('header', 'true').csv('test1.csv')

DataFrame[Name : string, Age: string]

In [16]:
spark.read.option('header', 'true').csv('test1.csv').show()

+------+---+
| Name |Age|
+------+---+
|Deepak| 28|
|   Ram| 32|
| Shyam| 33|
+------+---+

In [23]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [24]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.head(3)

[Row(Name ='Deepak', Age='28'),
 Row(Name ='Ram', Age='32'),
 Row(Name ='Shyam', Age='33')]

In [29]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)

In [34]:
#read the dataset
spark.read.option('header','true').csv('test1.csv').show()

df_pyspark1 = spark.read.option('header','true').csv('test1.csv')

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
|Deepak| 28|         5|
|   Ram| 32|         6|
| Shyam| 33|         7|
+------+---+----------+

In [35]:
# check the schema
df_pyspark1.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [36]:
# Since for all it will show as string, so to have the specific datatype, we use inferSchema = True
df_pyspark1 = spark.read.option('header','true').csv('test1.csv', inferSchema = True)

In [37]:
df_pyspark1.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [39]:
df_pyspark1 = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [41]:
df_pyspark1.show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
|Deepak| 28|         5|
|   Ram| 32|         6|
| Shyam| 33|         7|
+------+---+----------+

In [42]:
# check the schema
df_pyspark1.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [43]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [46]:
# getting coloum name
df_pyspark1.columns

['Name ', 'Age', 'Experience']

In [47]:
df_pyspark1.head(3)

[Row(Name ='Deepak', Age=28, Experience=5),
 Row(Name ='Ram', Age=32, Experience=6),
 Row(Name ='Shyam', Age=33, Experience=7)]

In [49]:
df_pyspark1.show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
|Deepak| 28|         5|
|   Ram| 32|         6|
| Shyam| 33|         7|
+------+---+----------+

In [56]:
#selecting the columns
df_pyspark1.select('Age')

DataFrame[Age: int]

In [57]:
df_pyspark1.select('Age').show()

+---+
|Age|
+---+
| 28|
| 32|
| 33|
+---+

In [58]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [59]:
#selecting Multiple colums

df_pyspark1.select('Age','Experience')

DataFrame[Age: int, Experience: int]

In [60]:
df_pyspark1.select('Age','Experience').show()

+---+----------+
|Age|Experience|
+---+----------+
| 28|         5|
| 32|         6|
| 33|         7|
+---+----------+

In [64]:
# describing the dataframe
df_pyspark1['Age']

Column<'Age'>

In [65]:
df_pyspark1.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [69]:
df_pyspark1.describe()

DataFrame[summary: string, Name : string, Age: string, Experience: string]

In [68]:
df_pyspark1.describe().show()

+-------+------+------------------+----------+
|summary| Name |               Age|Experience|
+-------+------+------------------+----------+
|  count|     3|                 3|         3|
|   mean|  null|              31.0|       6.0|
| stddev|  null|2.6457513110645907|       1.0|
|    min|Deepak|                28|         5|
|    max| Shyam|                33|         7|
+-------+------+------------------+----------+

In [79]:
# Adding columns and dropping columns

## we can add column by the help of withColumn function
df_pyspark1.withColumn('Experience After 2 Year', df_pyspark1['Experience']+3)

DataFrame[Name : string, Age: int, Experience: int, Experience After 2 Year: int]

In [77]:
df_pyspark3= df_pyspark1.withColumn('Experience After 2 Year', df_pyspark1['Experience']+3)

In [78]:
df_pyspark3.show()

+------+---+----------+-----------------------+
| Name |Age|Experience|Experience After 2 Year|
+------+---+----------+-----------------------+
|Deepak| 28|         5|                      8|
|   Ram| 32|         6|                      9|
| Shyam| 33|         7|                     10|
+------+---+----------+-----------------------+

In [80]:
## Drop the column
df_pyspark.drop('Experience After 2 Year')

DataFrame[Name : string, Age: int, Experience: int]

In [81]:
df_pyspark.drop('Experience After 2 Year').show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
|Deepak| 28|         5|
|   Ram| 32|         6|
| Shyam| 33|         7|
+------+---+----------+

In [85]:
# Rename the column
df_pyspark.withColumnRenamed('Age','New Age').show()

+------+-------+----------+-----------------------+
| Name |New Age|Experience|Experience After 2 Year|
+------+-------+----------+-----------------------+
|Deepak|     28|         5|                      8|
|   Ram|     32|         6|                      9|
| Shyam|     33|         7|                     10|
+------+-------+----------+-----------------------+