# Pyspark Handling Missing Values

1. Dropping Columns
2. Dropping Rows
3. Various Parameter In Dropping functionalities
4. Handling Missing values by Mean, Median And Mode

In [36]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
spark

In [7]:
spark.read.csv('test2.csv', header = True, inferSchema = True)

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [9]:
spark.read.csv('test2.csv', header = True, inferSchema = True).show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|Deepak|  28|         5| 30000|
|   Ram|  30|         5| 15120|
| Shyam|  31|         4| 15153|
| Sunny|  32|         3|  5620|
|Mahesh|  35|         1|  8920|
|  Raja|  65|         9| 99900|
|Ramesh|null|      null| 44456|
|  null|null|      null|  null|
|  null|  34|         2|  null|
|  null|  40|      null| 30000|
+------+----+----------+------+

In [10]:
df_pyspark = spark.read.csv('test2.csv', header = True, inferSchema = True)

In [11]:
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|Deepak|  28|         5| 30000|
|   Ram|  30|         5| 15120|
| Shyam|  31|         4| 15153|
| Sunny|  32|         3|  5620|
|Mahesh|  35|         1|  8920|
|  Raja|  65|         9| 99900|
|Ramesh|null|      null| 44456|
|  null|null|      null|  null|
|  null|  34|         2|  null|
|  null|  40|      null| 30000|
+------+----+----------+------+

In [16]:
# dropping the column on basis of null value
# This will drop all the value where are null.
df_pyspark.na.drop().show()

# this is similar to  df_pyspark.na.drop(how="any")
#by default the how is any

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Deepak| 28|         5| 30000|
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
|  Raja| 65|         9| 99900|
+------+---+----------+------+

In [17]:
df_pyspark.show()

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|Deepak|  28|         5| 30000|
|   Ram|  30|         5| 15120|
| Shyam|  31|         4| 15153|
| Sunny|  32|         3|  5620|
|Mahesh|  35|         1|  8920|
|  Raja|  65|         9| 99900|
|Ramesh|null|      null| 44456|
|  null|null|      null|  null|
|  null|  34|         2|  null|
|  null|  40|      null| 30000|
+------+----+----------+------+

In [18]:
# dropping the column with all null value

df_pyspark.na.drop(how="all").show()

# Hence we can the column with all none/null value was dropped.

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|Deepak|  28|         5| 30000|
|   Ram|  30|         5| 15120|
| Shyam|  31|         4| 15153|
| Sunny|  32|         3|  5620|
|Mahesh|  35|         1|  8920|
|  Raja|  65|         9| 99900|
|Ramesh|null|      null| 44456|
|  null|  34|         2|  null|
|  null|  40|      null| 30000|
+------+----+----------+------+

In [21]:
# threshold
df_pyspark.na.drop(how="all",thresh=2).show()

# this will check for atleast 2 non-null value, if atleast 2 non-nul value is present then it will not delete the column.

+------+----+----------+------+
|  Name| age|Experience|Salary|
+------+----+----------+------+
|Deepak|  28|         5| 30000|
|   Ram|  30|         5| 15120|
| Shyam|  31|         4| 15153|
| Sunny|  32|         3|  5620|
|Mahesh|  35|         1|  8920|
|  Raja|  65|         9| 99900|
|Ramesh|null|      null| 44456|
|  null|  34|         2|  null|
|  null|  40|      null| 30000|
+------+----+----------+------+

In [24]:
# subset 
df_pyspark.na.drop(how="any", subset=['Experience']).show()

# This will delete the null value from experience column

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Deepak| 28|         5| 30000|
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
|  Raja| 65|         9| 99900|
|  null| 34|         2|  null|
+------+---+----------+------+

In [25]:
# Filling the mising value
df_pyspark.na.fill('Missing Value').show()
# this will fill the value in the column with null valueas missing value

+-------------+----+----------+------+
|         Name| age|Experience|Salary|
+-------------+----+----------+------+
|       Deepak|  28|         5| 30000|
|          Ram|  30|         5| 15120|
|        Shyam|  31|         4| 15153|
|        Sunny|  32|         3|  5620|
|       Mahesh|  35|         1|  8920|
|         Raja|  65|         9| 99900|
|       Ramesh|null|      null| 44456|
|Missing Value|null|      null|  null|
|Missing Value|  34|         2|  null|
|Missing Value|  40|      null| 30000|
+-------------+----+----------+------+

In [28]:
df_pyspark.na.fill('Missing Value').show()

+-------------+----+----------+------+
|         Name| age|Experience|Salary|
+-------------+----+----------+------+
|       Deepak|  28|         5| 30000|
|          Ram|  30|         5| 15120|
|        Shyam|  31|         4| 15153|
|        Sunny|  32|         3|  5620|
|       Mahesh|  35|         1|  8920|
|         Raja|  65|         9| 99900|
|       Ramesh|null|      null| 44456|
|Missing Value|null|      null|  null|
|Missing Value|  34|         2|  null|
|Missing Value|  40|      null| 30000|
+-------------+----+----------+------+

In [29]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [30]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|Deepak|  28|         5| 30000|         28|                 5|         30000|
|   Ram|  30|         5| 15120|         30|                 5|         15120|
| Shyam|  31|         4| 15153|         31|                 4|         15153|
| Sunny|  32|         3|  5620|         32|                 3|          5620|
|Mahesh|  35|         1|  8920|         35|                 1|          8920|
|  Raja|  65|         9| 99900|         65|                 9|         99900|
|Ramesh|null|      null| 44456|         32|                 4|         44456|
|  null|null|      null|  null|         32|                 4|         15153|
|  null|  34|         2|  null|         34|                 2|         15153|
|  null|  40|      null| 30000|         40|                 4|         30000|
+------+----+----------+------+-----------+------------------+--------------+

In [33]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [32]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
|Deepak|  28|         5| 30000|         28|                 5|         30000|
|   Ram|  30|         5| 15120|         30|                 5|         15120|
| Shyam|  31|         4| 15153|         31|                 4|         15153|
| Sunny|  32|         3|  5620|         32|                 3|          5620|
|Mahesh|  35|         1|  8920|         35|                 1|          8920|
|  Raja|  65|         9| 99900|         65|                 9|         99900|
|Ramesh|null|      null| 44456|         36|                 4|         44456|
|  null|null|      null|  null|         36|                 4|         31146|
|  null|  34|         2|  null|         34|                 2|         31146|
|  null|  40|      null| 30000|         40|                 4|         30000|
+------+----+----------+------+-----------+------------------+--------------+