# Pyspark Dataframes

1. Filter Operation
2. &,|,== (and, Or, equal to)
3. ~ (inverse or not)

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('test2.csv', header= True, inferSchema=True)

In [5]:
df_pyspark.show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Deepak| 28|         5| 30000|
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
|  Raja| 65|         9| 99900|
|Ramesh| 34|         2| 44456|
+------+---+----------+------+

## Filter Operation

In [6]:
## Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000")

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [7]:
df_pyspark.filter("Salary<=20000").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
+------+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=20000").select(['Name', 'age']).show()

+------+---+
|  Name|age|
+------+---+
|   Ram| 30|
| Shyam| 31|
| Sunny| 32|
|Mahesh| 35|
+------+---+

In [10]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
+------+---+----------+------+

In [11]:
# use of & and | operators
# getting the salary between 15000 to 20000

# & operator
df_pyspark.filter((df_pyspark['Salary']<=20000) &
                  (df_pyspark['Salary']>=15000)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|  Ram| 30|         5| 15120|
|Shyam| 31|         4| 15153|
+-----+---+----------+------+

In [13]:
# | operators

df_pyspark.filter((df_pyspark['Salary']<=20000) |
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Deepak| 28|         5| 30000|
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
|  Raja| 65|         9| 99900|
|Ramesh| 34|         2| 44456|
+------+---+----------+------+

In [15]:
# == operators

df_pyspark.filter((df_pyspark['Salary']==20000) |
                  (df_pyspark['Salary']==15000)).show()
# since there is no matching value hence return empty[]

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [16]:
df_pyspark.filter((df_pyspark['Salary']==30000) |
                  (df_pyspark['Salary']>=15000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|Deepak| 28|         5| 30000|
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
|  Raja| 65|         9| 99900|
|Ramesh| 34|         2| 44456|
+------+---+----------+------+

In [18]:
# Inverse operator
df_pyspark.filter(~(df_pyspark['Salary']==30000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Ram| 30|         5| 15120|
| Shyam| 31|         4| 15153|
| Sunny| 32|         3|  5620|
|Mahesh| 35|         1|  8920|
|  Raja| 65|         9| 99900|
|Ramesh| 34|         2| 44456|
+------+---+----------+------+